In [1]:
import pandas as pd
import numpy as np

In [62]:
imdb = pd.read_csv('imdb_dataset.csv')

In [63]:
imdb.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [64]:
imdb.review[0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [65]:
df = imdb.sample(10_000)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 43622 to 20932
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

In [7]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 24289 to 28321
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 13.7 MB

In [67]:
df = df.reset_index(drop=True)

In [68]:
df.head()

                                              review sentiment
0  At first this looked like a boring comedy like...  positive
1  I loved this movie, and I am one of the older ...  positive
2  Why?!! This was an insipid, uninspired and emb...  negative
3  At the Academy Awards ceremony on March 27, 19...  positive
4  The first step to getting off of that road tha...  positive

In [69]:
import re
# re.sub('<.*?>', '', df.review[0])

def clean_html(text):
    return re.sub('<.*?>', '', text)

df.review = df.review.apply(clean_html)

In [70]:
df.review[0]

'At first this looked like a boring comedy like The Odd Couple, but when I got into it it turned out to be a really funny film. Basically forgetful ex-comedians Willy Clark (Golden Globe winner, and Oscar and BAFTA nominated Walter Matthau) and Al Lewis (Oscar winning, and Golden Glove nominated George Burns) were a great comedy duo, and a brought back together to revive their hospital sketch for a TV show. Willy\'s nephew, Ben Clark (Golden Globe winning Richard Benjamin) is confident they can get together again with no hard feelings for each other, how wrong he is. They cannot get on all the time, they are both forgetful, especially during conversation, but they do it eventually. Also starring Lee Meredith as Nurse in Sketch (Miss McIntosh), Carol DeLuise as Mrs. Doris Green, Al\'s Daughter, Rosetta LeNoire as Odessa, Willy\'s nurse and Muppets from Space\'s F. Murray Abraham as Mechanic. I think the best line of the film is Burns mentioning that Matthau called him "a son of a bitch bastard". It was nominated the Oscars for Best Art Direction-Set Decoration and Best Writing, Screenplay Adapted From Other Material, it was nominated the BAFTA for Best Screenplay, and it won the Golden Globe Best Motion Picture - Musical/Comedy, and it was nominated for Best Screenplay. Very good!'

In [71]:
df.review = df.review.apply(lambda x: x.lower())

In [72]:
df.head()

                                              review sentiment
0  at first this looked like a boring comedy like...  positive
1  i loved this movie, and i am one of the older ...  positive
2  why?!! this was an insipid, uninspired and emb...  negative
3  at the academy awards ceremony on march 27, 19...  positive
4  the first step to getting off of that road tha...  positive

In [73]:
df.review = df.review.apply(lambda x: re.sub("[^A-Z\w\d]", " ", x))

In [74]:
import nltk
from nltk.corpus import stopwords

In [75]:
from collections import Counter
# nltk.download('stopwords')
stop_words = stopwords.words('english')

In [76]:
def rm_stopwords(text: str) -> str:
    """
    Removes the stopwords (stopword from ntlk library)
    from the given text.
    """
    stop_words_dict = Counter(stop_words)
    return " ".join([word for word in text.split() if word not in stop_words_dict])

In [77]:
df.review

0       at first this looked like a boring comedy like...
1       i loved this movie  and i am one of the older ...
2       why    this was an insipid  uninspired and emb...
3       at the academy awards ceremony on march 27  19...
4       the first step to getting off of that road tha...
                              ...
9995    i loved the story  somewhere  a poster said th...
9996    i was going to use  the german scream  as a su...
9997    the rating is only a 5 because it s a movie th...
9998    i had seen this movie long time back  but foun...
9999    i watched this film not expecting much and not...
Name: review, Length: 10000, dtype: object

In [79]:
df.review = df.review.apply(rm_stopwords)

In [80]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [85]:
def stem_words(text: str) -> str:
    stemmed = []
    for word in text:
        stemmed.append(ps.stem(text))
    return " ".join(stemmed)

In [ ]:
df.review.apply(stem_words)[0]